.container {
    max-width: 1200px;
    margin: 0 auto;
    &__second {
        max-width: 1300px;
    }
}
body {
    background: #141a27;
}

@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/button';
@import 'blocks/about';
@import 'blocks/info';
@import 'blocks/question';
@import 'blocks/footer';
@import 'blocks/media';