.info {
    position: relative;
    &__block {
        width: 362px;
        height: 389px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) -41.9%, rgba(255,255,255,.1) 115.68%);
        backdrop-filter: blur(200px);
        border-radius: 10px;
        &_image {
            text-align: center;
            padding-top: 47px;
            img {
                width: 98px;
                height: 103px;
            }
        }
        &_title {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 25px;
            line-height: 125%;
            text-align: center;
            color: rgba(255,255,255,.7);
            margin-top: 17px;

        }
        &_descr {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 160%;
            text-align: center;
            color: rgba(255,255,255.7);
            width: 302px;
            margin: 0 auto;
            margin-top: 30px;
        }
    }
    .swiper-pagination {
        position: absolute;
        bottom: -10%;
        z-index: 50;
    }
}