.question {
    padding-bottom: 100px;
    &__wrapper {
        display: flex;
        padding-top: 250px;
    }
    &__item {
        &_title {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 130%;
            color: #FFFFFF;
        }
        &_image {
            img {
                max-width: 100%;
            }
        }
        &_descr {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 160%;
            color: rgba(255,255,255,.7);
            width: 460px;
            margin-top: 20px;
        }
    }
}